project = "terraform-starter-0001"

# https://cloud.google.com/compute/docs/regions-zones
# asia-east1	a, b, c	Changhua County, Taiwan
# asia-east2	a, b, c	Hong Kong
# asia-northeast1	a, b, c	Tokyo, Japan
# asia-northeast2	a, b, c	Osaka, Japan
# asia-northeast3	a, b, c	Seoul, South Korea
# asia-southeast1	a, b, c	Jurong West, Singapore
# australia-southeast1	a, b, c	Sydney, Australia
region = "asia-southeast1-a"

general_purpose_machine_type = "f1-micro"
general_purpose_node_count = 1

vpc_network_ports = ["22", "80", "8000"]

ss_port = "8000"
ss_passwd = "a68GF0k/fdasf//fadsfasdf!89321401234**&^%%"
